<div id="rowmain" class="row pull-right">
  <div class="col-md-12">
    <div class="card" style="background-color:white">
      <div class="card-header">
        <div class="card-title" style="margin-bottom: 0px!important;">Add shop
          <a style="cursor:pointer;padding-right: 5px;padding-left: 5px;" class="pull-right" data-toggle="collapse"
            data-target="#list">
            <i class="fas fa-chevron-circle-down">
            </i>
          </a>
        </div>
      </div>
      <div class="collapse show" id="list">

        <div class="card" style="height:100%;">
          <!-- <img class="card-img-top" src="https://s3-eu-west-1.amazonaws.com/eu-static.bullring.co.uk/Live/ResizedImages/storefronts/n1a5qyfgdvh/Gallery_Image/thefragrenceshop.jpg" alt="Card image"> -->
          <div class="card-body">
            <h5 class="card-text">Shop name</h5>
            <input class="form-control" type="text" placeholder="Add a shop title..." />
            <h5 class="card-text">Type</h5>
            <input class="form-control" type="text" placeholder="Type of the shop..." />
            <h5 class="card-text">Contact number</h5>
            <input class="form-control" type="text" placeholder="Phone number of owner..." />
            <h5 class="card-text">Location</h5>
            <div class="row">
              <div class="col-md-4">
                <input class="form-control" type="text" placeholder="{{lat}}">
              </div>
              <div class="col-md-4">
                <input class="form-control" type="text" placeholder="{{lng}}">
              </div>
              <div class="col-md-4">
                <button class="btn btn-warning" (click)="onPickLocationEvent()"><i class="far fa-compass"></i></button>
              </div>
            </div>
            <h6>click on the black spot after setting correctly</h6>
            <br><button class="btn btn-primary">Add</button>
          </div>
        </div>

      </div>
    </div>
  </div>
</div>

<!-- <div id="pick-icon">
  <button class="btn">
      <i class="fas fa-2x fa-dot-circle"></i>
  </button>
</div> -->