<div id="rowmain" class="row pull-right">
  <div class="col-md-12">
    <div class="card" style="background-color:white">
      <div class="card-header">
        <div class="card-title" style="margin-bottom: 0px!important;">Add shop
          <a style="cursor:pointer;padding-right: 5px;padding-left: 5px;" class="pull-right" data-toggle="collapse"
            data-target="#list">
            <i class="fas fa-chevron-circle-down">
            </i>
          </a>
        </div>
      </div>
      <div class="collapse show" id="list">

        <div class="card" style="height:100%;">
          <!-- <img class="card-img-top" src="https://s3-eu-west-1.amazonaws.com/eu-static.bullring.co.uk/Live/ResizedImages/storefronts/n1a5qyfgdvh/Gallery_Image/thefragrenceshop.jpg" alt="Card image"> -->
          <div class="card-body">
            <h5 class="card-text">Shop name</h5>
            <input class="form-control" type="text" placeholder="Add a shop title..." [(ngModel)]="title" />
            <h5 class="card-text">Type</h5>
            <input class="form-control" type="text" placeholder="Type of the shop..." [(ngModel)]="type" />
            <h5 class="card-text">Contact number</h5>
            <input class="form-control" type="text" placeholder="Phone number of owner..." [(ngModel)]="phn" />
            <h5 class="card-text">Location</h5>
            <div class="row">
              <div class="col-md-4">
                <input class="form-control" type="text" placeholder="latitude" [(ngModel)]="lat">
              </div>
              <div class="col-md-4">
                <input class="form-control" type="text" placeholder="longitude" [(ngModel)]="lng">
              </div>
              <div class="col-md-4">
                <button *ngIf="!markerp" data-toggle="tooltip" title="Click to pick location" class="btn btn-warning" (click)="onPickLocationEvent()"><i class="far fa-compass"></i></button>
                <button *ngIf="markerp" class="btn btn-danger" (click)="onCancelEvent()"><i class="far fa-times-circle"></i></button>
              </div>
            </div>
            <p *ngIf="markerp">Click on map to place marker</p>
            <br *ngIf="!markerp">
            <div class="row">
              <div class="col-md-4">
                  <button class="btn btn-block btn-info" (click)="addShop()">Add</button>
              </div>
              <div class="col-md-4"></div>
              <div class="col-md-4">
                <button class="btn btn-block btn-success" (click)="resetShop()">Reset</button>
              </div>
            </div>
          </div>
        </div>

      </div>
    </div>
  </div>
</div>

<script>
  $(document).ready(function(){
    $('[data-toggle="tooltip"]').tooltip();   
  });
</script>

<!-- <div id="pick-icon">
  <button class="btn">
      <i class="fas fa-2x fa-dot-circle"></i>
  </button>
</div> -->