<div class="row">
  <div class="col-md-8">
    <input class="form-control" type="text" placeholder="Search places..." [(ngModel)]="query" />
  </div>
  <div class="col-md-2">
    <div class="dropdown">
      <button type="button" class="btn btn-block btn-warning" data-toggle="dropdown">
        {{selectedFilter}}<span class="dropdown-toggle pull-right"></span>
      </button>
      <div class="dropdown-menu btn-block">
        <a class="dropdown-item" style="cursor:pointer;" (click)="onSelectFilter('Products')">Products</a>
        <a class="dropdown-item" style="cursor:pointer;" (click)="onSelectFilter('Shops')">Shops</a>
        <a class="dropdown-item" style="cursor:pointer;" (click)="onSelectFilter('Filters')">No filter</a>
      </div>
    </div>
  </div>
  <div class="col-md-2">
    <button class="btn btn-info btn-block" (click)="onClickSearch(query)">Search</button>
  </div>
</div>
