<app-loading-spinner *ngIf="spinner"></app-loading-spinner>
<div class="row list" *ngIf="loaded">
  <div>
    <div class="card" style="background-color:white">
      <div class="card-header">
        <div class="card-title" style="margin-bottom: 0px!important;">Search results
          <a style="cursor:pointer;padding-right: 5px;padding-left: 5px;" class="pull-right" data-toggle="collapse" data-target="#list">
            <i class="fas fa-chevron-circle-down">
            </i>
          </a>
        </div>
      </div>
      <div class="collapse show" id="list">
        <app-items *ngFor="let item of items"></app-items>
      </div>
    </div>
  </div>
</div>
